# Credenciales para MongoDB
MONGO_INITDB_ROOT_USERNAME=usuario
MONGO_INITDB_ROOT_PASSWORD=contraseña

# URL de conexión utilizada por la aplicación
MONGO_URL=mongodb://usuario:contraseña@localhost:27017

# Bases de datos
MONGO_DB_DEV=pdf_extractor_dev
MONGO_DB_TEST=pdf_extractor_test